@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@200..800&display=swap');

* {
    font-family: "Manrope", sans-serif;
}

.sepa {
    padding: 50px;
} 

#mobile {
    font-size: 30px;
}

#prtx {
    font-size: 80px;
    color: darkcyan;
}

#seccion1 {
    display: flex;
    background-color: #F5EEF5;
}

#arttxt1, #arttxt3 {
    width: 50%;
    margin-left: 8%;
    margin-right: 20%;
}

#arttxt1 {
    margin-top: 5%;
}

#arttxt2 {
    width: 50%;
    margin-left: 15%;
    margin-right: 5%;
    margin-top: 2%;
}

.artimg {
    text-align: center;
    margin-right: 6%;
}

.artimg2 {
    text-align: center;
    margin-left: 6%;
}

.img {
    margin-top: 30px;
    margin-bottom: 30px;
    width: 500px;
    height: 500px;
}

.imgmedio {
    text-align: center;
}

.tit1 {
    font-size: 40px;
}

.tit2 {
    font-size: 60px;
    color: rgb(150, 149, 149);
}
 
.txt {
  font-size: 25px;  
}

#seccion2 {
    display: flex;
    background-color: #FAF5F3;
}

#seccion3 {
    display: flex;
    background-color: #F2F9F8;
}

#seccion4 {
    background-color: black;
}

#artneg2 {
    display: flex;
}

#titneg {
    color: white;
    font-size: 15px;
    margin-left: 5%;
    text-align: start;
}

.col {
    color: white;
    width: 25%;
    font-size: 7px;
    margin-top: 2%;
    margin-left: 5%;
    padding-bottom: 3%;
}

@media screen and (max-width:800px ){
    
}

@media screen and (max-width:800px ){

}