@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@200..800&display=swap');

* {
    font-family: "Manrope", sans-serif;
}

.sepa {
    padding: 50px;
} 

#prtx {
    font-size: 45px;
}

#seccion1 {
    display: flex;
    background-color: #F5EEF5;
}

.art {
    width: 50%;
    margin-left: 50px;
    margin-right: 30px;
}

.img {
    margin-top: 30px;
    margin-bottom: 30px;
    width: 250px;
    height: 250px;
}

.imgmedio {
    text-align: center;
}

.tit1 {
    font-size: 20px;
}

.tit2 {
    font-size: 39px;
}
 
.txt {
    
}

#seccion2 {
    display: flex;
    margin-top: 50px;
    background-color: #FAF5F3;
}

#seccion3 {
    display: flex;
    margin-top: 50px;
}