@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@200..800&display=swap');

* {
    font-family: "Manrope", sans-serif;
}

.sepa {
    padding: 50px;
} 

#mobile {
    font-size: 30px;
}

#prtx {
    font-size: 80px;
    color: darkcyan;
}

#seccion1 {
    display: flex;
    background-color: #F5EEF5;
}

#arttxt1, #arttxt3 {
    width: 50%;
    margin-left: 8%;
    margin-right: 20%;
}

#arttxt1 {
    margin-top: 5%;
}

#arttxt2 {
    width: 50%;
    margin-left: 15%;
    margin-right: 5%;
    margin-top: 2%;
}

.artimg {
    text-align: center;
    margin-right: 6%;
}

.artimg2 {
    text-align: center;
    margin-left: 6%;
}

.img {
    margin-top: 6%;
    margin-bottom: 6%;
    width: 500px;
    height: 500px;
}

.imgmedio {
    text-align: center;
}

.tit1 {
    font-size: 40px;
}

.tit2 {
    font-size: 60px;
    color: rgb(150, 149, 149);
}
 
.txt {
  font-size: 25px;  
}

#seccion2 {
    display: flex;
    background-color: #FAF5F3;
}

#seccion3 {
    display: flex;
    background-color: #F2F9F8;
}

#seccion4 {
    background-color: black;
}

#artneg2 {
    display: flex;
}

#titneg {
    color: white;
    font-size: 20px;
    margin-left: 5%;
    text-align: start;
}

.col {
    color: white;
    width: 25%;
    font-size: 15px;
    margin-top: 2%;
    margin-left: 5%;
    padding-bottom: 3%;
}

@media screen and (max-width:1400px ){
    #mobile {
        font-size: 23px;
    }

    #prtx {
        font-size: 65px;
    }

    .img {
        width: 400px;
        height: 400px;
    }

    .tit1 {
        font-size: 35px;
    }
    
    .tit2 {
        font-size: 40px;
    }
     
    .txt {
      font-size: 20px;  
    }

    #titneg {
        font-size: 15px;
    }
    
    .col {
        font-size: 10px;
    }
}

@media screen and (max-width:1100px ){
    #mobile {
        font-size: 17px;
    }

    #prtx {
        font-size: 55px;
    }

    .tit1 {
        font-size: 29px;
    }
    
    .tit2 {
        font-size: 35px;
    }
     
    .txt {
      font-size: 17px;  
    }
  
}

@media screen and (max-width:900px ){
    .img {
        width: 300px;
        height: 300px;
    }

}

@media screen and (max-width:800px ){
    #seccion1, #seccion2, #seccion3 {
        display: block;
    }

    .img {
        width: 500px;
        height: 400px;
    }

    .artimg {
        margin-right: 0%;
    }
    
    .artimg2 {
        margin-left: 0%;
    }

    #arttxt1, #arttxt3 {
        margin-left: 10%;
        width: 100%;
        padding-top: 5%;
    }
    
    #arttxt1 {
        margin-top: 5%;
    }
    
    #arttxt2 {
        margin-left: 10%;
        width: 100%;
        padding-bottom: 5%;
    }

    .tit2 {
        font-size: 37px;
    }


}

@media screen and (max-width:650px ){
    .img {
        width: 350px;
        height: 350px;
    }

    .tit2 {
        font-size: 30px;
    }
}
    @media screen and (max-width:450px ){
        .img {
            width: 300px;
            height: 300px;
        }
    
        .tit2 {
            font-size: 20px;
        }

}